ul {
  list-style-type: none;
}

*{
  margin: 0;
  padding: 0;
  caret-color: transparent;
 }

.main__wrapper {
 background: #282c34;
 height: 100vh;
 display: flex;
 justify-content: center;
 align-items: center;
}

.navbar__wrapper {
  position: fixed;
  top: 2rem;
  left: 2rem;
  float: left;
  width: 100%;
}

.navbar__wrapper li {
  display: inline-block;
  height: 48px;
  width: 48px;
}

.navbar__wrapper li:not(:last-child) {
  margin-right: 48px;
}

input:focus, textarea:focus, [contenteditable]:focus {
  caret-color: auto;
}